.page-footer{
    background:#00000022;
    padding:0% 2% 0% 2%;
    
}
/* Mentions */
.mentions {
   max-width:100vw;
padding:5%;
}
a {
    color:#121212!important;
}
a:hover {
    color:#dedede!important;
}
