.tarifs{
    background-color: #1b998b ;
  margin : 5% 1px 1% 1px;
  border-radius: 5px;
  width:22%;
  padding:2%;
}
/* .tarifs p {
    padding: 3% 10% 3% 10%;
} */
h3, h4{
    font-weight:900 !important;
}
h5 {
    font-size:1.6rem !important;
    color:#101010 !important;
}
.prix{
    background-color:#2d3135;
    height:10vh;
    border-radius: 5px;    
    margin: 5% 0 0 0;
    border-bottom:1px solid yellow;
}
.dixmille{
    font-size:3rem;
    font-weight: bold;
}